services:
  api:
    build: .
    container_name: custom_rag_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    ports:
      - "8000:8000"

  ui:
    build: .
    container_name: custom_rag_ui
    command: streamlit run ui/app.py --server.port 8501 --server.address 0.0.0.0
    depends_on:
      - api
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
